.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    height: 250px;
    padding: 35px 35px;
/*
    border: 1px solid white;
    border-style: dashed;
*/
    
}

.out{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #b68d4c;
    font-size: 3em;
    border: 1px solid;
    border-color: #b68d4c;
}

.len{
    padding: 5px;
    text-align: center;
    color: #b68d4c;
    font-size: 1em;
    border: 1px solid;
    border-color: #b68d4c;
    
    
}

.Mybtn{
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
/*    float: left;*/
    margin-left: 150px;
    background-color: #b68d4c;
    color: white;
    font-size: 1.8em;
}
/*
.len{
    width:100%;
    height: 100px;
    margin-top: 550px;
}
*/
strong{
    width: 100%;
    padding-top: 55px;
    margin-left: 150px;
    font-size: 1.5em;
    padding: 15px;
    color: white;
/*    margin-top: 1035px;*/
}

body{

background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(212,178,150,1) 0%, rgba(207,169,137,1) 39%, rgba(202,160,125,1) 76%, rgba(199,154,117,1) 100%);


}